@import "assets/css/media_queries";
.opportunity-header-wrapper {
  background: var(--white);
  width: 100%;
  padding: 2.5rem 2rem;
  border: 1px solid #ccc;
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--text {
      font-size: 1.8rem;
      font-weight: 700;
    }
    &--search {
      width: 50rem;
      padding: 0.5rem;
      border: 1px solid #ccc;
    }
    &--button {
      font-size: 1.4rem;
      background: var(--button-color);
      color: var(--white);
      padding: 1rem 2rem;
      border: 1px solid var(--button-color);
      cursor: pointer;
    }
  }
}
