@import "../../assets/css/media_queries";

.section-home {
  padding: 5rem;
  display: block;
  // border: 1px solid #ccc;
  width: 100%;
  max-width: 1024px;
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.295);
  &-applist {
    padding: 2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include ptle {
      width: 600px;
      margin: 0 auto;
    }
    &-item {
      width: 120px;
      margin-bottom: 2rem;
      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        & img {
          width: 70px;
          height: auto;
          cursor: pointer;
          transition: all 0.2s ease-in;
          &:hover {
            opacity: 0.7;
            transform: scale(1.1);
          }
        }
        & span {
          font-size: 0.9rem;
          margin-top: 0.5rem;
          cursor: pointer;
        }
      }
      & a {
        text-decoration: none;
        color: var(--black);
      }
    }
  }
}

.corteva_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 300px;
    height: auto;
  }
}

.Landingpage {
  width: 100%;
  height: auto;
  padding: 2rem;
  background: url("../../assets/images/home/home-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &-title {
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 600;
    width: 80%;
    color: var(--white);
    background: rgba(0, 0, 0, 0.534);
    padding: 4rem;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.753);
    cursor: pointer;
  }
  &-animate {
    position: absolute;
    top: 2.8rem;
    width: 250px;
  }
}

.cortevalogo-white {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
