@import "../../../assets/css/media_queries";
.header-wrapper {
  background: var(--white);
  width: 100%;
  padding: 2.5rem 2rem;
  border: 1px solid #ccc;
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--text {
      font-size: 2rem;
      font-weight: 700;
    }
    &--button {
      font-size: 1.4rem;
      background: var(--button-color);
      color: var(--white);
      padding: 1rem 2rem;
      border: 1px solid var(--button-color);
      cursor: pointer;
      &:hover{
        opacity: 0.9;
      }
    }
  }
}

.header-search-wrapper {
  position: relative;
  width: 60%;
  &--input {
    font-size: 2.1rem;
    font-weight: normal;
    color: var(--text-color);
    width: 30%;
    padding:1rem 1rem 1rem 4rem;
    border: 1px solid transparent;
    //min-width: 90%;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
    -webkit-transition:all .5s ease;
    &:focus{
      border: 1px solid var(--content-body-color);
      background: var(--content-body-color);
      width: 100%;
    }
}
  & img {
    width: 24px;
    position: absolute;
    left: 5px;
    top: 12px;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    rgba(34, 30, 30, 0.4);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    rgba(34, 30, 30, 0.4);
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    rgba(34, 30, 30, 0.4);
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    rgba(34, 30, 30, 0.4);
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    rgba(34, 30, 30, 0.4);
}

::placeholder { /* Most modern browsers support this now. */
 color:    rgba(34, 30, 30, 0.4);
}
