@import "./font";
@import "./colors.scss";
@import "./media_queries.scss";

html,
body,
#app,
#app main {
  min-height: 100%;
  height: 100%;
}

.fonts-loaded body,
.fonts-loaded button,
.fonts-loaded input,
.fonts-loaded select,
.fonts-loaded textarea {
  font-family: var(--base-font-family), "Roboto", sans-serif;
  letter-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--base-font-family), "Roboto", sans-serif;
  font-size: 62.5%; /* Base font size 10px */
  font-weight: 400;
  text-rendering: optimizeLegibility;
  /*overflow: hidden;
    height: 100%;*/
}

body {
  margin: 0px;
  padding: 0px;
  overflow: auto !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
button,
button:focus,
*:focus,
*:active {
  outline: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
