:root {
    // Corteva Theme color
    --primary-color:#221E1E;
    --text-color:#221E1E;
    --border-color:#707070;
    --table-border-color:#AFAFAF;
    --content-body-color: #E6E6E6;
    --button-color: #0072c8;
    --white: #ffffff;
    --black: #000000;

    ////////////////////////////////////////////////

    --blue: #209af7;
    --blue-50: #d2f5fe;
    --blue-100: #a5e6fe;
    --blue-200: #78d2fc;
    --blue-300: #56bcfa;
    --blue-400: #1778d4;
    --blue-500: #1059b1;
    --blue-600: #0a3f8f;
    --blue-700: #062c76;

    --grey: #10141d;
    --grey-b3: #b3b3b3;
    --grey-a9: #a9a9a9 ;

    --base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
