@import "./breakpoints.scss";


/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@mixin ptle {
    @media only screen 
    and (min-device-width: $screen-ipaid9-min) 
    and (max-device-width: $screen-ipaid9-max) 
    and (-webkit-min-device-pixel-ratio:$pixel-ipaid9-ratio) {
      @content;
  }
}

/* Portrait */
@mixin pt {
    @media only screen 
    and (min-device-width: $screen-ipaid9-min) 
    and (max-device-width: $screen-ipaid9-max) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio:$pixel-ipaid9-ratio) {
      @content;
  }
}

/* Landscape */
@mixin le {
    @media only screen 
  and (min-device-width: $screen-ipaid9-min) 
  and (max-device-width: $screen-ipaid9-max) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio:$pixel-ipaid9-ratio) {
    @content;
}
}
