.opportunity-account-wrapper {
  padding: 2rem;
  &-nav {
    margin-bottom: 2rem;
    &-list {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      &--item {
        position: relative;
        font-size: 1.3rem;
        padding: 1rem 1rem 1rem 3rem;
        border: 1px solid var(--button-color);
        margin-left: 0.5rem;
        background: var(--white);
        cursor: pointer;
        color: var(--button-color);
        //     background: var(--white),
        //       url("../../../../assets/images/home/edit.png") left top no-repeat;

        transition: all ease 0.2s;
        -webkit-transition: all ease 0.2s;
        -moz-transition: all ease 0.2s;
        -ms-transition: all ease 0.2s;
        -o-transition: all ease 0.2s;
        &:hover {
          filter: grayscale(1);
          -webkit-filter: grayscale(1);
        }
        & img {
          width: 25px;
          position: absolute;
          left: 5px;
          top: 5px;
        }
      }
    }
  }
}
