@import "assets/css/media_queries";
.opportunity-header-wrapper {
  background: var(--white);
  width: 100%;
  padding: 2.5rem 2rem;
  border: 1px solid var(--content-body-color);
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--text {
      font-size: 2rem;
      font-weight: 700;
      .navigate {
        cursor: pointer;
        font-size: 2rem;
        font-weight: 700;
        margin-right: 0.5rem;
      }
    }
    &--search {
      width: 50rem;
      padding: 0.5rem;
      border: 1px solid var(--content-body-color);
    }
    &--button {
      font-size: 1.4rem;
      background: var(--button-color);
      color: var(--white);
      padding: 1rem 2rem;
      border: 1px solid var(--button-color);
      cursor: pointer;
    }
  }
}
