.opportunity-details {
  width: 100%;
  &-tabs {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    &-list {
      font-size: 1.6rem;
      font-weight: normal;
      display: flex;
      list-style: none;
      border-bottom: 1px solid  var(--button-color);
      justify-content: space-between;
      &-item {
        //pointer-events: none;
        padding: 1rem 0;
        position: relative;
        width: 20rem;
        text-align: center;
        color: var(--text-color);
        text-decoration: none;
        display: inline-block;
        border-bottom: 0.4rem solid transparent;
        cursor: pointer;
        &:hover:after {
          content: "";
          border-bottom: 0.4rem solid var(--button-color);
          position: absolute;
          display: block;
          width: 100%;
          bottom: -5px;
        }
      }
      & .active{
        font-weight: 700;
        color: var(--button-color);
      }
      & .active:after {
        content: "";
        border-bottom: 0.4rem solid var(--button-color);
        position: absolute;
        display: block;
        width: 100%;
        bottom: -5px;
      }
    }
  }
}
