// .search-wrapper {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   position: relative;
//   & input {
//     width: 100%;
//     max-width: 90%;
//     border: 1px solid #ccc;
//     border-radius: 0.2rem;
//     background: #d3d3d3;
//     padding: 0.2rem 0.2rem 0.2rem 2rem;
//     &:focus {
//       outline: none !important;
//       border: 1px solid rgb(0, 102, 255);
//       box-shadow: 0 0 10px #007bff;
//       background: var(--white);
//     }
//   }
//   & img {
//     width: 20px;
//     position: absolute;
//     left: 5px;
//     top: 2px;
//   }
//   & label {
//     margin-left: 1rem;
//   }
// }
