@import "../../../assets/css/media_queries";
.footer-wrapper {
  background: var(--primary-color);
  padding: 1rem;
  &-content {
    position: relative;
    display: flex;
    color: var(--white);
    justify-content: center;
    &--homeicon {
      & img {
        width: 25px;
        cursor: pointer;
      }
    }
    &--slogo {
      position: absolute;
      right: 0;
      & img {
        width: 100px;
        cursor: pointer;
      }
    }
  }
}
