.opportunity-wrapper {
  background: var(--content-body-color);
}
.opportunity-content {
  padding: 2rem;
  // height: 670px;
  // overflow: scroll;
  &-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &-title {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 165%;
    margin-bottom: 1rem;
  }
  &--record {
    font-size: 1.4rem;
    margin-left: 1rem;
    color: #7a7878;
  }
  &-table {
    width: 100%;
    border: 1px solid var(--table-border-color);
    & table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      background: var(--white);
      & tr {
        border-bottom: 1px solid var(--table-border-color);
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        &:hover {
          background: rgba(201, 201, 201, 0.315);
        }
        & th {
          text-align: left;
          padding: .5rem 1.5rem;
          background: #434040;
          color: var(--white);
          font-size: 1.4rem;
          font-weight: 600;
          min-height: 50px;
          &:last-child{
            text-align: center;
          }
        }
        td {
          padding: 1.8rem;
          font-size: 1.4rem;
          font-weight: normal;
          cursor: pointer;
          &:last-child{
            text-align: center;
            width: 200px;
          }
          span {
            padding: 1rem;
            & img {
              width: 20px;
              cursor: pointer;
            }
          }
          select {
            border: none;
            background: transparent;
          }
        }
      }
    }
  }
}

.custom-button-blue {
  font-size: 1.4rem;
  font-weight: 400;
  background:  var(--button-color);
  color: var(--white);
  padding: 1rem 2rem;
  border: 1px solid  var(--button-color);
  cursor: pointer;
  margin: 0.5rem;
  min-width: 80px;
  &:hover{
    opacity: 0.5;
  }
}

.custom-button-white {
  font-size: 1.4rem;
  font-weight: 400;
  background: var(--white);
  color:  var(--button-color);
  padding: 1rem 2rem;
  border: 1px solid  var(--button-color);
  cursor: pointer;
  margin: 0.5rem;
  min-width: 80px;
}
.custom-button-transparent {
  font-size: 1.4rem;
  font-weight: 400;
  background: transparent;
  color: #666;
  padding: 1rem 2rem;
  border: 1px solid #666;
  cursor: pointer;
  margin: 0.5rem;
  min-width: 80px;
}

.section-details {
  background: var(--white);
  box-shadow: 0px 1px 2px 0px rgba(67, 64, 64, 0.623);
  margin-bottom: 2rem;
  &-title {
    padding: 2rem;
    //border-bottom: 1px solid rgba(67, 64, 64, 0.479);
    box-shadow: 0px 1px 2px 0px rgba(67, 64, 64, 0.342);
    display: flex;
    justify-content: space-between;
    &--text {
      color: var(--text-color);
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 165%;
    }
    & img {
      width: 25px;
      cursor: pointer;
    }
  }
  &-content {
    padding: 2rem;
    &-item {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      &-list {
        width: 20rem;
        margin-bottom: 2rem;
      }
      &-data {
        &--title {
          color: #3c3a3a;
          font-size: 1.4rem;
          line-height: 165%;
          font-weight: 700;
          margin-bottom: .5rem;
        }
        &--desc {
          color: #3d3b3b;
          font-size: 1.3rem;
          line-height: 145%;
          font-weight: 500;
        }
      }
    }
    &-form {
      list-style: none;
      &-item {  
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        & label {
          margin-bottom: 1rem;
          font-size: 1.2rem;
          font-weight: 500;
        }
        & textarea {
          width: 100%;
          width: 100%;
          padding: 2rem;
          min-height: 100px;
          border: 1px solid var(--content-body-color);
        }
        & input[type="text"],
        select,
        input[type="date"] {
          padding: 1rem;
          border: 1px solid var(--content-body-color);
        }
        // & select {
        //   padding: 1rem;
        // }
      }
      &-2col {
        display: flex;
        justify-content: space-between;
        &-item {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-right: 1rem;
          &:last-child {
            margin-right: 0;
          }
          & textarea {
            width: 100%;
            padding: 2rem;
            min-height: 100px;
            border: 1px solid var(--content-body-color);
          }
          img {
            width: 25px;
            position: absolute;
            right: 5px;
            top: 35px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
